#slide-out {
  background-color: #222;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  width: 35rem;
}

.brand-logo {
  text-align: center;
  padding-top: 8rem;
  padding-bottom: 4rem;
}

#labels-holder {
  flex: 1 0 auto;
}
#labels-holder ul {
  border: none;
}

#labels-holder ul li i{
  padding-right: 1.5rem;
}

#labels-holder ul li {
  background-color: #222;
  color: #ddd;
  font-size: 1.8rem;
}

.collection .collection-item {
  border: none;
}

.page-footer {
  background-color: #111;
}

footer {
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
}

section#content-container {
  display: flex;
  flex-direction: row;
  padding-left: 35rem;
}